In [ ]:
import pandas as pd
import numpy as np

In [ ]:
features = pd.read_excel("temps.xlsx")
features.head()

   year  month  day  week  temp_2  temp_1  average  actual
0  2016      1    1   Fri      45      45     45.6      45
1  2016      1    2   Sat      44      45     45.7      44
2  2016      1    3   Sun      45      44     45.8      41
3  2016      1    4   Mon      44      41     45.9      40
4  2016      1    5  Tues      41      40     46.0      44

In [ ]:
features.describe()

,year,month,day,temp_2,temp_1,average,actual
count,348.0,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000
mean,2016.0,6.477011,15.514368,62.652299,62.701149,59.760632,62.543103
std,0.0,3.498380,8.772982,12.165398,12.120542,10.527306,11.794146
min,2016.0,1.000000,1.000000,35.000000,35.000000,45.100000,35.000000
25%,2016.0,3.000000,8.000000,54.000000,54.000000,49.975000,54.000000
50%,2016.0,6.000000,15.000000,62.500000,62.500000,58.200000,62.500000
75%,2016.0,10.000000,23.000000,71.000000,71.000000,69.025000,71.000000
max,2016.0,12.000000,31.000000,117.000000,117.000000,77.400000,92.000000

In [ ]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   year     348 non-null    int64
 1   month    348 non-null    int64
 2   day      348 non-null    int64
 3   week     348 non-null    object
 4   temp_2   348 non-null    int64
 5   temp_1   348 non-null    int64
 6   average  348 non-null    float64
 7   actual   348 non-null    int64
dtypes: float64(1), int64(6), object(1)
memory usage: 21.9+ KB

In [ ]:
# One-hot encode the data using pandas get_dummies
features = pd.get_dummies(features)
features.head()

,year,month,day,temp_2,temp_1,average,actual,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed
0,2016,1,1,45,45,45.6,45,1,0,0,0,0,0,0
1,2016,1,2,44,45,45.7,44,0,0,1,0,0,0,0
2,2016,1,3,45,44,45.8,41,0,0,0,1,0,0,0
3,2016,1,4,44,41,45.9,40,0,1,0,0,0,0,0
4,2016,1,5,41,40,46.0,44,0,0,0,0,0,1,0

In [ ]:
# Labels são os valores que quero predizer
labels = np.array(features["actual"])
# Removendo labels dos features
# axis 1 refere-se a columns
features = features.drop("actual", axis = 1)
# Salvando feature names para usar posteriormente
feature_list = list(features.columns)
# Convertendo numpy para array
features = np.array(features)

In [ ]:
# Usando Skicit-learn para dar um split nos dados dentro do meu data set de treino.
from sklearn.model_selection import train_test_split
# Fazendo um Split nos dados dentro do training e testing sets.
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state=42)

## Treino com a média

In [ ]:
# The baseline predictions are the historical averages
baseline_preds = test_features[:, feature_list.index("average")]
# Baseline errors, and display average baseline error
baseline_errors = abs(baseline_preds - test_labels)
print('Baseline error average: ', round(np.mean(baseline_errors), 2))

Baseline error average:  5.06

## Bibiliotecas

In [54]:
from sklearn.datasets import make_moons
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostClassifier,GradientBoostingClassifier, AdaBoostRegressor
from sklearn import metrics

## Treino com RandomForestRegressor

In [ ]:
# Import o modelo que irei usar
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators=1000, random_state=42)
# Train the model on training data
rf.fit(train_features, train_labels)

RandomForestRegressor(n_estimators=1000, random_state=42)

In [ ]:
# Use the forest's predict method on the test data
prediction_rf = rf.predict(test_features)

# Calculate the absolute errors
error_rf = abs(prediction_rf - test_labels)

r_sq = rf.score(features, labels)
# Print out the mean absolute error (mae)
print("R^2:", r_sq)
print("MAE:", metrics.mean_absolute_error(test_labels,prediction_rf))
print("MSE:", metrics.mean_squared_error(test_labels,prediction_rf))

R^2: 0.932094797587982
MAE: 3.932057471264368
MSE: 26.68358100000001

## Treino com AdaBoostRegressor

In [55]:
ada = AdaBoostRegressor(n_estimators=100)
ada.fit(train_features, train_labels)
ada_pred = ada.predict(test_features)

In [ ]:

# Calculate the absolute errors


# Print out the mean absolute error (mae)

## Treino com GradientBoostingRegressor

In [ ]:
# Calculate the absolute errors


# Print out the mean absolute error (mae)

## Visualização de árvores - Random Forest

In [ ]:
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest

# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest

# Export the image to a dot file

# Use dot file to create a graph

# Write graph to a png file

In [ ]:
# Limit depth of tree to 3 levels

# Extract the small tree

# Save the tree as a png image

##Visualização de árvores - Ada Boost

In [ ]:
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest

# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest

# Export the image to a dot file

# Use dot file to create a graph

# Write graph to a png file

## Feature importance - Random Forest

In [ ]:
# Get numerical feature importances

# List of tuples with variable and importance

# Sort the feature importances by most important first

# Print out the feature and importances

Feature importance - Ada Boost

In [ ]:
# Get numerical feature importances

# List of tuples with variable and importance

# Sort the feature importances by most important first

# Print out the feature and importances

Feature importance - Gradient Boost

In [ ]:
# Get numerical feature importances

# List of tuples with variable and importance

# Sort the feature importances by most important first

# Print out the feature and importances

## Visualização Real x Predito - Random Forest

In [ ]:
import datetime
import matplotlib.pyplot as plt
# Dates of training values

# List and then convert to datetime object

# Dataframe with true values and dates

# Dates of predictions

# Column of dates

# Convert to datetime objects

# Dataframe with predictions and dates

# Plot the actual values

# Plot the predicted values

# Graph labels

## Visualização Real x Predito - Ada Boost

In [ ]:
import datetime
import matplotlib.pyplot as plt
# Dates of training values

# List and then convert to datetime object

# Dataframe with true values and dates

# Dates of predictions

# Column of dates

# Convert to datetime objects

# Dataframe with predictions and dates

# Plot the actual values

# Plot the predicted values

# Graph labels

## Visualização Real x Predito - Gradient Boost

In [ ]:
import datetime
import matplotlib.pyplot as plt
# Dates of training values

# List and then convert to datetime object

# Dataframe with true values and dates

# Dates of predictions

# Column of dates

# Convert to datetime objects

# Dataframe with predictions and dates

# Plot the actual values

# Plot the predicted values

# Graph labels

## Gradient Descent

In [ ]:
from time import time
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.datasets import make_regression
from sklearn.metrics import mean_squared_error